# Virtual environments
venv/
env/
confreq/
myenv/

# System
.DS_Store
Thumbs.db

# PyInstaller
build/
dist/
*.spec
!build.spec

# Bytecode
__pycache__/
*.pyc

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Temporary files
*.tmp
*.temp